<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /

	#RewriteCond %{HTTPS} off
	#RewriteCond %{REQUEST_URI} ^api.*
	#RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI}           [R=302,L]
	
	
	RewriteRule ^$ /index\.php [L]
	RewriteCond $1 !^(index\.php|stats|download|third_party|assets|stats|redd|pma|phpmyadmin|favicon\.gif)
	
	
	RewriteCond $1 !^(images.*.(bmp|jpg|jpeg|gif|png|doc|docx|xls|xlsx|ppt|pptx|pdf|rtf|txt|zip|rar|odt))
	RewriteCond $1 !^(images.*.(BMP|JPG|JPEG|GIF|PNG|DOC|DOCX|XLS|XLSX|PPT|PPTX|PDF|RTF|TXT|ZIP|RAR|ODT))
	
	RewriteCond $1 !^(images.*.(WEBM|AAC|M4A|F4A|MP3|OGG|OGA|OGV|FLV|MP4|M4V|F4V|MOV))
	RewriteCond $1 !^(images.*.(webm|aac|m4a|f4a|mp3|ogg|oga|ogv|flv|mp4|m4v|f4v|mov))
	
	RewriteRule ^(.*)$ /index.php?/$1 [L]
	
</IfModule>
<IfModule !mod_rewrite.c>
    ErrorDocument 402 /index\.php
</IfModule>

